html,
body {
    height: 100%; /* 100% sivusta*/
    margin: 0;
}

section {
    height: 100vh;
    margin: 0;
}

#navBar #navlinks {
    display: flex;
    font-size: 20px;
    justify-content: center
}

ul {
    list-style: none;
    padding: 0 15px;
}

li {
    padding: 0 20px;
}

#kalatori {
    background: lightsteelblue;
}

#markkinat {
    background: lightgreen;
}

#hinnasto {
    background: lightcoral; 
}

#sijainti {
    background: lightsalmon;
}

#yhteys {
    background: lightseagreen;
}
