:root {
    --primary-color: #3a405a;
    --secondary-color: #f9dec9;
    --third-color: #99b2dd;
}

* { 
    padding: 0;    
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navLinks {
    display: flex;
    list-style: none;
    text-decoration: none;
    background-color: var(--primary-color);
    justify-content: flex-end;
}

.navLi a {
    font-size: 20px;
    padding: 20px 20px;
    text-decoration: none;
    color: var(--secondary-color);
}

.navLi {
    padding: 16px 25px  20px 0px;
    color: var(--secondary-color);
}

.navLi a:hover {
    text-decoration: underline;
}

.lang a {
    text-decoration: none;
    list-style: none;
    color: var(--secondary-color);
    padding: 0 10px;
    font-size: 20px;
}

.lang {
    padding: 16px 0 0 0;
}

.lang a:hover {
    text-decoration: underline;
}

#index {
    /* The image used */
    background: linear-gradient(rgba(255,255,255,-0.5), rgba(255,255,255,-0.5)), url("../harj/kuvat/perhonenkirjalla.jpg");

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

/* Megamenu */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: var(--primary-color);
    font: inherit;
    margin: 0;
}

.dropdown .dropbtn {
    color: var(--secondary-color);
    font-size: 20px;
    position: relative;
    top: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    width: 35%;
    height: 30%;
    right: 450px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.column {
    float: left;
    width: 50%;
    padding: 0 20px;
    background-color: var(--primary-color);
    height: 250px;
}

.dropbtn:hover {
    text-decoration: underline;
}

.column a {
    float: none;
    color: var(--secondary-color);
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Clear floats after the columns */


#indexContent {
    padding: 50px 80px;
}

#indexHeading {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 40px;
}

#indexHeading p {
    padding: 30px;
    position: relative;
    bottom: 100px;
    font-weight: bold;
}

#indexFooter {
    background: rgba(58, 64, 90, 0.9); 
    width: 100%;
    color: white;
    padding: 30px 100px;
    position: absolute;
    bottom: -63;
    height: 250px;
}

#indexFooter h2 {
    font-size: 50px;
    font-weight: 400;
}

#indexFooter p {
    font-size: 25px;
}

footer {
    background-color: var(--primary-color);
    height: 480px;
}

.footerColumn {
    color: var(--secondary-color);
    float: left;
    width: 33.33%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    font-size: 20px;
}

/* Clear floats after the columns */
.footerRow:after {
    content: "";
    display: table;
    clear: both;
}

#cards {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 100px;
    color: var(--primary-color);
}

.card {
    text-align: center;
    border: solid black 1px;
    border-radius: 2%;   
}

.card h2 {
    padding-top: 20px;
    font-size: 30px;
}

hr {
    border: solid rgb(230, 229, 228) 2px;
}

.ipsum {
    padding: 100px 120px;
    color: var(--primary-color);
}

.lueLisaa {
    color: var(--primary-color);
    background-color: #ffffff;
    font-size: 20px;
    border: solid var(--primary-color) 2px;
    padding: 10px 150px;
    border-radius: 2%;
}

.paperwork1 {
    width: 1650px;
    padding: 20px;
    overflow: hidden;
    padding-bottom: 100px;
}

.paperwork1 img {
    margin-right: 70px;
    float: left;
}

.paperwork1 h2,
.paperwork1 p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}

.paperwork1 h2 {
    padding-bottom: 20px;
    font-size: 37px;
    font-weight: 450;
}

.paperwork1 p {
    font-size: 18px;
    font-weight: 400;
}

.paperwork1 span {
    font-size: 20px;
    font-weight: 800;
}

.paperwork2 {
    width: 1700px;
    overflow: hidden;
    padding-bottom: 100px;
}

.paperwork2 img {
    margin-right: 70px;
    padding-left: 20px;
    float: right;
}

.paperwork2 h2,
.paperwork2 p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}

.paperwork2 h2 {
    padding-bottom: 20px;
    font-size: 37px;
    font-weight: 450;
}

.paperwork2 p {
    font-size: 18px;
    font-weight: 400;
}

.paperwork2 span {
    font-size: 20px;
    font-weight: 800;
}


.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.somet img {
    position: relative;
    left: 800px;
    cursor: pointer;
}

#yhteys {
    display: inline-flex;
    color: white;
    position: relative;
    left: 700px;
    padding-top: 40px;
}

#yhteysParagraph {
    padding-left: 10px;
    color: var(--secondary-color);
    text-align: center;
}

#copyright {
    color: white;
    position: absolute;
    left: 830px;
}
button:hover {
    background-color: whitesmoke;
}