* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    line-height: 3;
    font-size: 20px;
}

header {
    background-color: aquamarine;
}

nav {
    background-color: blueviolet;
}

article {
    background-color: coral;
}

figure {
    background-color: cornflowerblue;
}

aside {
    background-color: darkcyan;
}

footer {
    background-color: darkgoldenrod;
}

.container,
.content,
.cont {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 1068px) {
    .content,
    .cont {
        flex-direction: row;
        flex-wrap: wrap;
    }

    header,
    footer {
        width: 100%;
    }

    article {
        flex: 3;
        order: 2;
        min-height: 80vh;
    }

    aside {
        flex: 0.5;
        order: 0;
    }

    footer {
        order:5
    }

    .cont {
        flex: 2;
    }

    .cont figure {
        flex: 1.5;
    }

    figure {
        flex: 3;
        order: 3;
    }
}

@media all and (max-width: 1068px){
    .cont {
        flex-direction: row;
        flex-wrap: wrap;
    }

    article {
        min-height: 80vh;
        flex: 1;
    }

    figure {
        flex: 0.5;
        order: 1;
    }

    aside {
        order: 2;
    }
}

@media all and (max-width: 768px) {
    figure {
        display: none;
    }

    aside {
        display: none;
    }
}

@media all and (max-width: 568px) {
    footer {
        display: none;
    }

    article {
        min-height: 85vh;
    }
}