:root {
    --primary-color: #3a405a;
    --secondary-color: #f9dec9;
    --third-color: #99b2dd;
}

* { 
    padding: 0;    
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navLinks {
    display: flex;
    list-style: none;
    text-decoration: none;
    background-color: var(--primary-color);
    justify-content: flex-end;
}

.navLi a {
    padding: 20px 20px;
    text-decoration: none;
    color: var(--secondary-color);
}

.navLi {
    padding: 16px 25px  20px 0px;
    color: var(--secondary-color);
}

.navLi a:hover {
    text-decoration: underline;
}

section {
    height: 50%;
}

#index {
    /* The image used */
    background-image: url("../harj/kuvat/perhonenkirjalla.jpg");

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 0 1 24%;
}

