* {
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

h1 {
    font-size: 3em;
    text-shadow: black 3px 3px;
    color: white;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 2em;
}

#yhteystiedot {
    display: flex;

}

label {
    display: block;
}

section {
    height: 100vh;
    padding: 30px 20px 60px 60px;
}

#header {
    background-image: url('../harj/kuvat/oula.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#ruoat {
    display: flex;
    justify-content: center;    
}


#lounasmenu {
    margin: auto;
}

#lounasmenu p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    width: 45em;
    border-radius: 10%;
    border: dotted black 2px;
    padding: 10px 5px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;   
}

table,
th, 
td, 
tr {
    padding: 2px 10px;
    margin: auto;
}

table {
    border-bottom: solid black 0.5px;
}

th {
    font-size: 25px;
}




nav {
    font-size: 20pt;
}

#navLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #456d;
    overflow: hidden; 
}
  
#navLinks {
    display: flex;
    justify-content: flex-end;
}
  
.navLi a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navLi a:hover {
    color: #add8e6;
    transition: 500ms ease;
}